{{ define "main" }}
  {{ partial "topbar" .Params.topbar_id }}
  <section itemscope itemtype="http://schema.org/Article" id="main-section">
    <div>
      <h1>{{ .Title }}</h1>
      <div id="lastmod-info">
        Last updated <span itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Jan 2, 2006" }}</span>
      </div>
      {{ partial "breadcrumbs.html" . }}
      <article itemprop="articleBody" id="content">
        {{ .Content }}
        <hr>
      </article>
      <footer>
        <div id="meta">
          <div class="related-posts"></div>
          <div class="meta-other">
            {{ partial "footer-meta-other.html" . }}
          </div>
        </div>
      </footer>  
    </div>
  </section>
{{ end }}
