<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if (eq .Title "Ps")}}Pages{{else}}{{.Title}}{{end}}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Various things I use">
    <meta name="rating" content="General">
    {{ partial "style.html" }}
</head>
<body>
    {{ partial "topbar" "pages" }}
    <h2>{{ if (eq .Title "Ps")}}Pages{{else}}{{.Title}}{{end}}</h2>
    <article itemprop="articleBody" id="content" class="e-content">
      <ul>
        {{ range .Pages }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{ end }}
      </ul>
    </article>
</body>
</html>
