<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="alternate" type="application/rss+xml" title="All posts" href="/index.xml">
    <meta http-equiv="origin-trial" content="ApGfbnUOpX+fKw4aW90l9VludEb3Yl4IDX7Lyd2lS1SEnd1nGI0FAwthjyURxdyMbR5ay1c9dAx0xSs4Fbq6UAIAAABVeyJvcmlnaW4iOiJodHRwczovL2Jsb2cuc21pdG9wLmNvbTo0NDMiLCJmZWF0dXJlIjoiQ29udGVudEluZGV4IiwiZXhwaXJ5IjoxNTg0NDYyMTI4fQ==">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/smitop.png" type="image/png">
    <style>
      img {
        max-width: calc(100vw - 16px);
        position: relative;
        left: -8px;
      }
    </style>
    {{- block "sitewide" . }}{{- end }}
    {{- block "head" . }}{{- end }}
  </head>
  <body>
    <div class="container-fluid">
      <section id="page-title">
        <h1><a href="/#blog-posts">Smitop's blog</a></h1>
      </section>
