<script>
  window.addEventListener("load", function () {
    if (!window.loadedHtml) {
      if (sessionStorage["loadedHtml"]) {
        window.loadedHtml = JSON.parse(sessionStorage["loadedHtml"]);
      } else {
        window.loadedHtml = {};
      }
    }
    loadedHtml[location.href] = document.getRootNode().children[0].outerHTML;
    setTimeout(function () {
      sessionStorage["loadedHtml"] = JSON.stringify(loadedHtml);
    }, 1000);
    Array.from(document.getElementsByTagName("a")).forEach(function(a) {
      a.addEventListener("mouseover", function(event) {
        console.log("mouseover", a.href);
        if (!loadedHtml[a.href]) {
    return;
          fetch(a.href).then(async function (res) {
            loadedHtml[a.href] = await res.text();
          });
          setTimeout(function () {
            sessionStorage["loadedHtml"] = JSON.stringify(loadedHtml);
          }, 1000);
        }
      });
      a.addEventListener("click", function (event) {
        if (!loadedHtml[a.href]) return;
        event.preventDefault();
        document.getRootNode().children[0].innerHTML = loadedHtml[a.href];
        history.pushState("", a.innerText, a.href);
        document.title = a.innerText;
      });
    });
    window.addEventListener("popstate", function () {
      let newUrl = location.href;
      if (loadedHtml[newUrl]) {
        document.getRootNode().children[0].innerHTML = loadedHtml[newUrl];
      } else {
        location.href = newUrl + "?forcereload=" + Math.random();
      }
    });
  });
</script>
