<div class="stream-item{{if (isset . "Featured")}} featured{{ end }}">
    {{ if (isset . "Type")}}
        <h2>
            {{if (isset . "Featured")}}<img src="/star.svg" class="fstar" alt="Featured" title="Featured" width="20">{{ end }}
            {{ if (isset . "Uri") }}
                <a href="{{ .Uri }}">
            {{ end }}
                {{ .Title }}
            {{ if (isset . "Uri") }}
                </a>
            {{ end }}
        </h2>
        <div>
            {{ dateFormat "January 2, 2006" (int .Date.Unix) }}
        </div>
        {{ if (isset . "Uri") }}
            <a href="{{ .Uri }}">
        {{ end }}
            {{ if (isset . "Thumb") }}
                <div>
                    <img src="{{ .Thumb }}" width="300" />
                </div>
            {{ end }}
        {{ if (isset . "Uri") }}
            </a>
        {{ end }}
        {{ if (isset . "Text") }}
            <div class="summary">
                {{ .Text }}
            </div>
        {{ end }}
    {{ else }}
        <div>
            <h2><a href="{{.Permalink}}">{{.Title}} {{ if (.Draft) }}(DRAFT){{end}}</a></h2>
            <div>{{ .Date.Format "Jan 2, 2006" }}</div>
            <div class="summary">
                {{ .Description }}
                <a class="cont-reading" href="{{.Permalink}}">(continue reading)</a>
            </div>
        </div>
    {{ end }}
</div>
