<div class="stream">
    {{ $scr := newScratch }}
    {{ $scr.Set "idx" 0 }}
    {{ range (sort ((where .Items "Verbose" "==" -1) | append (where .Items "Params.featured" "!=" nil)) ".Date.Unix" "desc") }}
        {{ $scr.Add "idx" 1 }}
        {{ partial "streamitem.html" (dict "Item" . "scr" $scr "Featured" 1)}}
    {{ end }}
    {{ range (sort (where .Items "Verbose" "!=" -1) ".Date.Unix" "desc") }}
        {{ $scr.Add "idx" 1 }}
        {{ partial "streamitem.html" (dict "Item" . "scr" $scr) }}
    {{ end }}
</div>
