<div class="stream-item">
    {{ if (isset . "type")}}
        {{ if (isset . "uri") }}
            <a href="{{ .uri }}">
        {{ end }}
            <h2>{{ .title }}</h2>
        {{ if (isset . "uri") }}
            </a>
        {{ end }}
            <div>
                at {{ dateFormat "January 2, 2006" (int (div .date 1000)) }}
            </div>
        {{ if (isset . "uri") }}
            <a href="{{ .uri }}">
        {{ end }}
            {{ if (isset . "thumb") }}
                <div>
                    <img src="{{ .thumb }}" width="200" />
                </div>
            {{ end }}
        {{ if (isset . "uri") }}
            </a>
        {{ end }}
        {{ if (isset . "html") }}
            <div>
                {{ .html }}
            </div>
        {{ end }}
    {{ else }}
        <div>
            <h2><a href="{{.Permalink}}">{{.Title}} {{ if (.Draft) }}(DRAFT){{end}}</a></h2>
            <div>at {{ .Date.Format "Jan 2, 2006" }}</div>
            
        </div>
    {{ end }}
</div>
