<div id="topbar">
    {{ if (eq . "home")}}
        iter.ca
    {{ else }}
        <a href="/">iter.ca</a>
    {{ end }}
    <!-- •
    {{ if (eq . "about")}}
        About
    {{ else }}
        <a href="/p/about/">About</a>
    {{ end }} -->
    •
    {{ if (eq . "uses")}}
        Uses
    {{ else }}
        <a href="/p/uses/">Uses</a>
    {{ end }}
    •
    {{ if (eq . "accounts")}}
        Accounts
    {{ else }}
        <a href="/p/accounts/">Accounts</a>
    {{ end }}
    •
    <a href="https://kb.iter.ca/">Notes</a>
</div>
