<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things I use</title>
    <meta charset="utf-8" />
    <meta name="description" content="Various things I use">
    <meta name="rating" content="General">
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    {{ partial "topbar" "streams" }}
    <h2>Streams</h2>
    {{ range .Pages }}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
    {{ end }}
</body>
</html>
