<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things I use</title>
    <meta charset="utf-8" />
    <meta name="description" content="Various things I use">
    <meta name="rating" content="General">
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    {{ partial "topbar" "streams" }}
    <h2>Streams</h2>
    I have a stream system that takes in data from many sources, and generates one really big stream from those. That stream is then filtered in various ways to generate multiple pages. You can see <a href="https://github.com/Smittyvb/smitop.com/tree/master/build-data/get">the code</a> that generates these streams, if you are curious.
    <ul>
        <li><a href="/">Homepage stream</a></li>
        {{ range .Pages }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{ end }}
    </ul>
</body>
</html>
